<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
		<servlet-name>NostradamusWrite</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.NostradamusWriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NostradamusWrite</servlet-name>
		<url-pattern>/nostradamus_write</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NostradamusRead</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.NostradamusReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>NostradamusRead</servlet-name>
		<url-pattern>/nostradamus_read</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddCameraEntry</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.AddCameraEntry</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCameraEntry</servlet-name>
		<url-pattern>/add_camera_entry</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetCameraSnapshot</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.GetCameraSnapshot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCameraSnapshot</servlet-name>
		<url-pattern>/get_camera_snapshot</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetCameraInfo</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.GetCameraInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCameraInfo</servlet-name>
		<url-pattern>/get_camera_info</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAllCameras</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.GetAllCameras</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllCameras</servlet-name>
		<url-pattern>/get_all_cameras</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StartCameraService</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.StartCameraService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartCameraService</servlet-name>
		<url-pattern>/start_camera_service</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StopCameraService</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.StopCameraService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StopCameraService</servlet-name>
		<url-pattern>/stop_camera_service</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/add_user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetNearbyUsers</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.GetNearbyUsers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetNearbyUsers</servlet-name>
		<url-pattern>/get_nearby_users</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Bayes</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.Bayes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bayes</servlet-name>
		<url-pattern>/bayes</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SetDisastersStatus</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.SetDisastersStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetDisastersStatus</servlet-name>
		<url-pattern>/set_disaster_status</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetDisastersStatus</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.GetDisastersStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDisastersStatus</servlet-name>
		<url-pattern>/get_disaster_status</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmergencyInfo</servlet-name>
		<servlet-class>com.megadevs.nostradamus.backend.EmergencyInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmergencyInfo</servlet-name>
		<url-pattern>/emergency_info</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>